extends layout

block content
	div.navbar#navbar
	div.main-container#maincontainer
		div.sidebar.responsive#sidebar
		div.main-content#main-content
			div.breadcrumbs
			div.page-content
				div.row
					div.col-xs-12