div(tabindex="-1",role="dialog",aria-labellebby="title-success",aria-hidden="true",data-backdrop="false",data-keyboard="true").modal.fade#modal-success
	div.modal-dialog
		div.modal-content
			div.modal-body.center#modal-success-body
				h3.text-success
					| 恭喜您！注册成功！
			div.modal-footer.center#modal-success-footer
				div.toolbar
					a(href="#",data-target="#login-box",role="button",data-dismiss="modal").back-to-login-link.btn.btn-success
						i.ace-icon.fa.fa-arrow-left
						| &nbsp; 去登陆